%h2 登録情報の編集

%h3 登録情報

= form_for @info do |f|

  .field
    = f.label :name, "名前"
    = f.text_field :name

  .field
    = f.label :status, "現在の調子"
    = f.text_field :status

  .field
    = f.label :comment, "コメント"
    %br
    = f.text_area :comment

  .field
    = f.label :preferred_message, "好きなみ言"
    %br
    = f.text_area :preferred_message

  .field
    = f.label :country, "国"
    = f.collection_select :country_master_id, @countries, :id, :name, selected: @country_defo_id

  .field
    = f.label :area, "地域"
    = f.collection_select :area_master_id, @areas, :id, :name, selected: @area_defo_id

  .actions
  = f.submit "更新"

%br

%h3 ログイン情報
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!

  .field
    = f.label :email, 'メールアドレス'
    %br/
    = f.email_field :email, autofocus: true
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      このメールアドレス「#{resource.unconfirmed_email}」が使用可能か確認しています。

  .field
    = f.label :password, 'パスワード'
    %i (変更しない場合は空欄のままにしておいて下さい。)
    %br/
    = f.password_field :password, autocomplete: "off"
    - if @minimum_password_length
      %br/
      %em
        最小
        = @minimum_password_length
        文字

  .field
    = f.label :password_confirmation, 'パスワード確認'
    %br/
    = f.password_field :password_confirmation, autocomplete: "off"

  .field
    = f.label :current_password, '現在のパスワード'
    %i (ログイン情報を変更をする場合は現在のパスワード入力は必須です。)
    %br/
    = f.password_field :current_password, autocomplete: "off"

  .actions
    = f.submit "更新"

%h3 退会
%p
  非常に残念ですが、退会されるのですか? #{button_to "退会します！！", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}

= link_to '戻る', :root
