%h2 ユーザ新規登録

= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!

  .field
    = f.label :name, 'ユーザ名'
    %br/
    = text_field :user_name, :name, autofocus: true

  .field
    = f.label :email, 'メールアドレス'
    %br/
    = f.email_field :email

  .field
    = f.label :password, 'パスワード'
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "off"

  .field
    = f.label :password_confirmation, 'パスワード確認'
    %br/
    = f.password_field :password_confirmation, autocomplete: "off"

  .actions
    = f.submit "登録"

= render "devise/shared/links"

