%h1 ユーザ一覧

- @users.each do |user|
  %p
    名前：
    = user.name
    %br
    = "ポイント 今月: #{user.point_month}Pt 今年: #{user.point_year}Pt 生涯: #{user.point_lifetime}Pt"
    %br
    = "ランキング 今月: #{user.rank_month}位 今年: #{user.rank_year}位"
