%h1 サインアップ

= form_for @user do |f|
  = f.label :name, 'ユーザ名'
  = f.text_field :name
  %br
  = f.label :name, 'メールアドレス'
  = f.text_field :email
  %br
  = f.label :password, 'パスワード'
  = f.text_field :password
  %br
  = f.submit 'サインアップ'