%h1 My Page
- if user_signed_in?
  ログインユーザ
  = succeed "." do
    %strong= current_user.information.name
  = link_to "ユーザ設定", edit_user_registration_path, :class => "navbar-link"
  |
  \#{link_to "ログアウト", destroy_user_session_path, method: :delete, :class => "navbar-link"}
- else
  = link_to "ユーザ登録", new_user_registration_path, :class => 'navbar-link'
  |
  \#{link_to "ログイン", new_user_session_path, :class => 'navbar-link'}

- if user_signed_in?
  %h2 リンク
  = link_to '活動登録', :new_activity
  = link_to '活動記録', :activities
  = link_to '友達一覧', :users
  グループ

  %h2 ユーザ情報
  %strong= @info.name
  %br

  = render 'shared/user_info'

  = render 'shared/user_timeline'
