%h1 活動を記録する

= form_for @activity do |f|

  .field
    = f.label :title, '件名'
    %br
    = f.text_field :title, disabled: @disabled

  .field
    = f.label :memo, 'メモ'
    %br
    = f.text_area :memo

  .field
    = f.label :achieve_at, '達成日'
    %br
    = f.text_field :achieve_at, value: Date.today.strftime("%Y/%m/%d")

  .field
    = f.hidden_field :id
  
  .actions
    = f.submit '登録'

%div
  %h2 アクティビティ一覧
  - @activity_master.each do |act|

    .activities
      = link_to "#{act.title}: #{act.detail} #{act.point}Pt", new_activity_path(activity: act.id)